%h1 NPR Sunday Puzzle Helper
%p Use these tools to help solve some of the word-related #{link_to "NPR Sunday puzzles", "#"}.
%p
  Puzzles these tools can help solve include:
  %ul
    %li Rearrange the letters of India and Belarus to name two other countries. What are they?
    %li What two world capitals can be found by rearranging the letters in the phrase "serial number"?
    %li Take this word: Brooklynite. Rearrange these 11 letters to get the names of two world capitals. What are they?
    %li Name a world capital. Add the letter R, and rearrange the letters to name two U.S. presidents. What is the world capital and who are the presidents?
    %li Take the name 'Boris Karloff.' It contains the letters of 'Oslo' in left-to-right order (although not consecutively). Now write down these three names: Leonardo da Vinci, Frank Sinatra, Stephen Douglas. Each conceals the name of another world capital in left-to-right order, although not in consecutive letters. What capitals are these?
